body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: green !important;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width:30%;
    gap:20px;
}

.issuedAlert{
    color:yellow;
    font-size: larger;
}